.figure {
  width: 200px;
  background-color: #efefef;
}
.figure img {
  width: 100%;
  object-fit:contain;
}
.figure img.square {
  aspect-ratio: 1;
}

.figure img.wide {
  aspect-ratio: 16 / 9;
}

.figure img.standard {
  aspect-ratio: 4 / 3;
}
